[
{rabbitmq_management_agent,
     [{rates_mode,basic},
      {sample_retention_policies,
          [{global,[{605,1}]},
           {basic,[{605,1}]},
           {detailed,[{10,1}]}]}]},
{rabbitmq_management,
     [{rates_mode,basic},
      {sample_retention_policies,
          [{global,[{605,1}]},
           {basic,[{605,1}]},
           {detailed,[{10,1}]}]}]}
].
